h1{
    background-color: blue;
    position: relative;
    text-align: center;
    border-radius: 30px;
}
a{
    background-color:rgb(158, 121, 192);
    border-radius: 30px;
    border: 20px;
    animation: forwards;
}
body{
    background-color: blanchedalmond;
}